<style>
    #section--{{ section.id }} .home-image__banner-left{
        background-color: {{ section.settings.color_left }}
     }
     #section--{{ section.id }} .home-image__banner-right{
         background-color: {{ section.settings.color_right }}
      }
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="images-home" class="section-margin-medium">
    <div class="grid grid--gutter-mobile">
        <div class="home-image-container">
              <div class="1/2 grid__cell relative">
                 <a href="{{ section.settings.url_left }}">
                      {% include 'image' with img : section.settings.image_left, class: 'full-width desktop-only' %}
                      {% include 'image' with img : section.settings.image_left-mobile, class: 'full-width mobile-only' %}
                       <div class="home-image__box home-image__banner-left position-absolute-bottom">
                           <div class="home-picto__left">
                               <img src="{{ section.settings.picto_left | img_url: "master" }}" alt="picto-france" class="home-picto">
                           </div>
                           <div class="home-content__left">
                               <h2 class="medium margin-cero home-image__text">{{ section.settings.text_left }}<span>></span></h2>
                           </div>
                      </div>
                  </a>
              </div>
              <div class="1/2 grid__cell relative">
                 <a href="{{ section.settings.url_left }}">
                    {% include 'image' with img : section.settings.image_right, class: 'full-width desktop-only' %}
                    {% include 'image' with img : section.settings.image_right-mobile, class: 'full-width mobile-only' %}
                      <div class="home-image__box home-image__banner-right position-absolute-bottom">
                          <div class="home-picto__right">
                            <img src="{{ section.settings.picto_right | img_url: "master" }}" alt="picto-korea" class="home-picto">
                          </div>
                          <div class="home-content__right">
                              <h2 class="medium margin-cero home-image__text">{{ section.settings.text_right }}<span>></span></h2>
                          </div>
                     </div>
                  </a>
              </div>
        </div>
    </div>
</section>
