<style>
      #section--{{ section.id }} .featured-product__button{
            border: 1px solid {{ section.settings.color }};
            color: {{ section.settings.color }};
       }
      #section--{{ section.id }} .featured-product-seoul-container{
           background-image: url("{{ section.settings.image_background | img_url: 'master' }}");
       }

      @media screen and (max-width: 800px) {
          #section--{{ section.id }} .featured-product-seoul-container{
               background-image: none;
           }
       }
    /**/
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-products">
           <div class="featured-product-seoul-container">
               <div class="grid grid--large grid--center grid--middle">
                      <div class="1/2--lap-and-up grid__cell relative">
                            <div class="featured-product__content align-right">
                                <h3 class="dear-type featured-product__subtitle">{{ section.settings.subtitle }}</h3>
                                <h2 class="medium featured-product__title">{{ section.settings.title }}</h2>
                                <div class="medium featured-product__description-seoul">{{ section.settings.description }}</div>
                                <div class="medium featured-product__price">{{ section.settings.price }}</div>
                                <button class="featured-product__button" type="button" name="button">{{ section.settings.button_text }}</button>
                            </div>
                      </div>
                      <div class="1/2--lap-and-up grid__cell relative align-center">
                          <div class="featured-product_image-box-seoul">
                              {% include 'image' with img : section.settings.product, class: 'full-width featured-product_image-seoul' %}
                          </div>
                      </div>
              </div>
         </div>
</section>
