<style >
     #section--{{ section.id }} .ingredients-button{
         border: 2px solid {{ section.settings.color}};
         color: {{ section.settings.color}};
      }
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="ingredients-button">
    {% if section.settings.title %}
          <a href="{{ section.settings.url }}">
               <div class="ingredients-button">
                    <div class="ingredients-button__picto">
                        {% include 'image' with img : section.settings.picto, class: 'full-width' %}
                    </div>
                    <div>
                        <h4 class="medium margin-cero ingredients-button__title">{{ section.settings.title }}</h4>
                    </div>
              </div>
          </a>
    {% endif %}
</section>
