<style media="screen">
     #section--{{ section.id }} .history-header__container{
         background-image: url("{{ section.settings.background | img_url: 'master' }}");
      }

      {% if section.settings.background-mobile %}
          @media screen and (max-width: 800px) {
              #section--{{ section.id }} .history-header__container{
                    background-image: url("{{ section.settings.background-mobile | img_url: 'master' }}");
               }
           }
      {% endif %}
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="history-header">
      <div class="ecosecret__title-container">
         <h1 class="medium ecosecret__title">{{ section.settings.page-title}}</h1>
      </div>
      <div class="history-header__container">
          <div class="history-header__content">
              <h2 class="dear-type">{{ section.settings.subtitle }}</h2>
              <div class="medium history-header__text">{{ section.settings.content }}</div>
          </div>
      </div>
</section>
