<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blog-ecosecret">
      {% if section.settings.blog-image-header %}
          {% include 'image' with img : section.settings.blog-image-header , class: 'full-width desktop-only' %}
      {% endif %}
      <div class="mobile-only align-center">
            <h2 class="dear-type blog-ecosecret__title">{{ section.settings.title }}</h2>
      </div>
      <div class="blog-ecosecret-container">
            <div class="article-full-image">
               {% for article in blog.articles  limit:1 %}
                     <img src="{{ article.image.src | img_url: 'master' }}" alt="" class="full-width">
                     <h4 class="medium">{{ article.created_at | date: format: 'abbreviated_date' }}</h4>
                     <h2 class="medium">{{ article.title}}</h2>
                     <p>{{ article.excerpt }}</p>
                {% endfor %}
            </div>
            <div class="grid">
                   {% for article in blog.articles offset: 1 %}
                       <a href="{{ article.url }}">
                           <div class="1/2--lap-and-up grid__cell">
                               <div class="blog-ecosecret__image">
                                     <img src="{{ article.image.src | img_url: 'master' }}" alt="">
                               </div>
                               <div class="blog-ecosecret__content">
                                      <h4 class="medium">{{ article.created_at | date: format: 'abbreviated_date' }}</h4>
                                      <h2 class="medium">{{ article.title}}</h2>
                                      <p>{{ article.excerpt }}</p>
                               </div>
                           </div>
                       </a>
                  {% endfor %}
            </div>
      </div>
</section>


{% schema %}
{
  "name": {
    "de": "Blogseiten",
    "en": "Blog pages",
    "es": "Páginas del blog",
    "fr": "Pages du blog",
    "it": "Pagine del blog",
    "ja": "ブログページ",
    "nl": "Blogpagina's",
    "pt-BR": "Páginas do blog",
    "zh-CN": "博客页面",
    "zh-TW": "部落格頁面"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "blog-image-header",
      "label": "header image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Blog title in mobile"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor(a)",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    }
  ]
}
{% endschema %}
