<div data-section-id="{{ section.id }}" data-section-type="header">
    <div class="header-ecosecret__container">
           <div class="ecosecret__dropdown">
                <div class="ecosecret__button">
                  <div>weglot + <a href="{{ section.settings.selling-points }}" class="medium">Selling points</a></div>

                </div>
           </div>
          <div class="header__logo">
                {% if section.settings.logo %}
                  <a href="/">
                       {% include 'image' with img : section.settings.logo, class: "ecosecret__logo full-width" %}
                  </a>
                {% else %}
                    <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                {% endif %}
          </div>
          <div class="ecosecret__login">
                  <div class="ecosecret__search-bar">
                        <form class="medium ecosecret__search-form" action="/search">
                            <input type="text" placeholder="" name="q" value="{{ search.terms | escape }}"  />
                            <input class="medium" type="submit" value="GO" />
                        </form>
                 </div>
                 <div>
                     <ul>
                       <li><img class="ecosecret__search" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/search.png?3310"></li>
                       <!-- <li>{% include 'search-form' %}</li> -->
                       {% if shop.customer_accounts_enabled %}
                              {% if customer %}
                                <li class="list-inline-item h3"><a href="/account"><img class="ecosecret__user" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/user.png?3310"></i></a></li>
                                <li class="list-inline-item h3"><a href="/account"><img class="ecosecret__log" src="https://cdn.shopify.com/s/files/1/0251/4989/8838/files/sign-out-option.svg?2478"></a></li>
                              {% else %}
                                <li class="list-inline-item h3 "><a href="/account/login"><img class="ecosecret__user" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/user.png?3310"></a></li>
                              {% endif %}
                       {% endif %}
                     </ul>
                 </div>
                 <div>
                    <a href="/cart"><img class="ecosecret__shopping_bag" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/bag.png?3310"></a>
                 </div>
           </div>
    </div>

    <div class="header-ecosecret__menu">
           {% if section.settings.image-menu-left %}
                <div class="ecosecret-menu-image">
                   {% include 'image' with img : section.settings.image-menu-left, class: 'full-width desktop-only' %}
                </div>
           {% endif %}
          <div class="ecosecret-menu">
                <nav class="ecosecret__nav">
                    <ul>
                       {% for link in linklists[section.settings.main_linklist].links %}
                                   <li class=" ecosecret__link"><a href="{{ link.url }}" class="heading bold ecosecret__nav-link">{{ link.title }}</a></li>
                                       {% for childlink in link.links %}
                                         <li class=" ecosecret__childlink"><a href="{{ childlink.url }}" class="heading ecosecret__nav-link">{{ childlink.title }}</a></li>
                                       {% endfor %}
                          {% endfor %}
                    </ul>
               </nav>
          </div>
          {% if section.settings.image-menu-right %}
              <div class="ecosecret-menu-image">
                  {% include 'image' with img : section.settings.image-menu-right, class: 'full-width desktop-only' %}
              </div>
          {% endif %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $(".ecosecret__search").click(function(){
        $(".ecosecret__search-bar").toggle();
      });
    });
</script>

{% schema %}
{
  "name": "Header",
  "settings": [

     {
       "type": "image_picker",
       "id": "logo",
       "label": "logo"
     },
     {
       "type": "link_list",
       "id": "main_linklist",
       "label": "linklist"
     },
     {
       "type": "image_picker",
       "id": "image-menu-left",
       "label": "image menu left"
     },
     {
       "type": "image_picker",
       "id": "image-menu-right",
       "label": "image menu right"
     }
  ]
}
{% endschema %}
