<style>
   {% if section.settings.mobile-image_background %}
      .header-ecosecret__mobile{
          background-image: url("{{ section.settings.mobile-image_background | img_url: 'master' }}");
       }
  {% endif %}
</style>

<!--- header desktop version ------------------->
<div id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="header" class="desktop-only">
    <div class="header-ecosecret__container">
           {% if section.settings.selling-points %}
             <div class="header-ecosecret__selling-points desktop-only">
                    <h6><a href="{{ section.settings.selling-points-url }}" class="medium">Nos points de vente</a></h6>
             </div>
           {% endif %}
          <div class="header__logo">
                {% if section.settings.logo %}
                  <a href="/">
                       {% include 'image' with img : section.settings.logo, class: "ecosecret__logo full-width" %}
                  </a>
                {% else %}
                    <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                {% endif %}
          </div>
          <div class="ecosecret__login">
                  <div class="ecosecret__search-bar">
                        <form class="medium ecosecret__search-form" action="/search">
                            <input type="text" placeholder="" name="q" value="{{ search.terms | escape }}"  />
                            <input class="medium" type="submit" value="GO" />
                        </form>
                 </div>
                 <div>
                     <ul>
                       <li><img class="ecosecret__search" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/search.png?3310"></li>
                       {% if shop.customer_accounts_enabled %}
                              {% if customer %}
                                <li class="list-inline-item h3"><a href="/account"><img class="ecosecret__user" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/user.png?3310"></i></a></li>
                                <li class="list-inline-item h3"><a href="/account"><img class="ecosecret__log" src="https://cdn.shopify.com/s/files/1/0251/4989/8838/files/sign-out-option.svg?2478"></a></li>
                              {% else %}
                                <li class="list-inline-item h3 "><a href="/account/login"><img class="ecosecret__user" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/user.png?3310"></a></li>
                              {% endif %}
                       {% endif %}
                     </ul>
                 </div>
                 <div>
                    <a href="/cart"><img class="ecosecret__shopping_bag" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/bag.png?3310"></a>
                 </div>
           </div>
    </div>
    <div class="header-ecosecret__menu">
           {% if section.settings.image-menu-left %}
                <div class="ecosecret-menu-image">
                   {% include 'image' with img : section.settings.image-menu-left, class: 'full-width desktop-only' %}
                </div>
           {% endif %}
          <div class="ecosecret-menu">
                <nav class="ecosecret__nav">
                    <ul class="header__menu-items">
                       {% for link in linklists[section.settings.main_linklist].links %}
                                   <li class="header__menu-item">
                                       <a href="{{ link.url }}" class="bold">{{ link.title }}</a>
                                       {% for childlink in link.links %}
                                           <ul class="header__submenu-items">
                                               <li><a href="{{ childlink.url }}" class="bold">{{ childlink.title }}</a></li>
                                          </ul>
                                       {% endfor %}
                                  </li>

                          {% endfor %}
                    </ul>
               </nav>
          </div>
          {% if section.settings.image-menu-right %}
              <div class="ecosecret-menu-image">
                  {% include 'image' with img : section.settings.image-menu-right, class: 'full-width desktop-only float-right' %}
              </div>
          {% endif %}
    </div>
</div>
<!--- header mobile version ------------------->
<div class="header-ecosecret__mobile mobile-only">
    <div class="header-mobile__container">
          <div class="header-mobile__dropdown">
                  <div class="header-mobile__button">
                        <div class="header-mobile__hamburguer">
                            <svg  id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                        </div>
                  </div>
          </div>
          <div class="header-mobile__logo">
               {% include 'image' with img : section.settings.logo-mobile, class: 'full-width' %}
          </div>
          <div class="header-mobile__login">
                 <div>
                    <a href="/cart"><img class="header-mobile__shopping_bag" src="https://cdn.shopify.com/s/files/1/0040/5517/1107/files/shop.png?3500"></a>
                 </div>
           </div>
     </div>
</div>
<div class="header-mobile__menu mobile-only">
      <div class="header-mobile__navlist">
            <nav class"header-mobile__nav">
                <ul>
                    {% for link in linklists[section.settings.main_linklist].links %}
                        <li class="header-mobile__item">
                            <a href="{{ link.url }}" class="heading bold header-mobile__nav-link">{{ link.title }}</a>
                             {% for childlink in link.links %}
                               <ul class="header-mobile__items none">
                                   <li class=" header-mobile__childlink none"><a href="{{ childlink.url }}" class="heading header-mobile__nav-link">{{ childlink.title }}</a></li>
                               </ul>
                             {% endfor %}
                       </li>
                    {% endfor %}
                </ul>
           </nav>
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $(".ecosecret__search").click(function(){
        $(".ecosecret__search-bar").toggle();
      });
    });

    $(document).ready(function(){
      $(".header-mobile__button").click(function(){
        $(".header-mobile__menu").toggle();
      });
    });    
</script>

{% schema %}
{
  "name": "Header",
  "settings": [

     {
       "type": "image_picker",
       "id": "logo",
       "label": "logo"
     },
     {
       "type": "image_picker",
       "id": "logo-mobile",
       "label": "logo mobile"
     },
     {
       "type": "image_picker",
       "id": "mobile-image_background",
       "label": "mobile background"
     },
     {
       "type": "checkbox",
       "id": "selling-points",
       "label": "display selling points",
       "default": true
     },
     {
       "type": "url",
       "id": "selling-points-url",
       "label": "selling points link"
     },
     {
       "type": "link_list",
       "id": "main_linklist",
       "label": "linklist"
     },
     {
       "type": "image_picker",
       "id": "image-menu-left",
       "label": "image menu left"
     },
     {
       "type": "image_picker",
       "id": "image-menu-right",
       "label": "image menu right"
     }
  ]
}
{% endschema %}
