<section id="section--{{ section.id }}" class="block-image-section" title="block-image">
  <div class="password__container">

  <div class="password__header">
       <div class="password__logo-box">
          <div class="password__drops">
            <img src="{{ section.settings.drops | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
          </div> 
            <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" class="password__logo">
         </div>
  </div>
  <div class="password__main">
      <div class="password__card align-center">
         <img src="{{ section.settings.card | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" class="password__card-image">
      </div>
      <div class="password__content align-center">
          <div class="password__title-box">
              <div class="hearts1">
                <img src="{{ section.settings.hearts1 | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" >
              </div>
               <h1 class="password__title">On arrive bientot!</h1>
              <div class="hearts2">
                <img src="{{ section.settings.hearts2 | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
              </div>
          </div>
          <div class="password__text">
              <p>IMPATIENTES DE DÉCOUVRIR TOUS NOS SECRETS ?</p>
              <p>SOYEZ LES PREMIÈRES INFORMÉES GRÂCE À NOTRE NEWSLETTER</p>
          </div>
          <div class="password__newsletter">
              {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field password__form' %}
                {%- assign formId = 'PasswordNewsletterForm' -%}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

                {%- if form.posted_successfully? -%}
                  <p class="form-message form-message--success" tabindex="-1" data-form-status>
                    {{ 'contact.form.post_success' | t }}
                  </p>
                {%- endif -%}

                <div class="input-group  {% if form.errors %} input-group--error{% endif %}">
                    <input
                      type="email"
                      name="contact[email]"
                      id="{{ formId }}-email"
                      class="input-group__field password__newsletter-input {% if form.errors contains 'email' %} input--error{% endif %}"
                      placeholder="Votre email:"
                      {%- if form.errors contains 'email' -%}
                        aria-invalid="true"
                        aria-describedby="{{ formId }}-email-error"
                        data-form-status
                      {%- endif -%}
                    >
                  <span class="input-group__btn ">
                    <button type="submit" name="commit" class="btn password__newsletter-submit">
                      <span class="submit__text">GO!</span>
                    </button>
                  </span>
                </div>
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId }}-email-error" class="input-error-message">
                    {% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                  </span>
                {%- endif -%}

              {% endform %}
          </div>
          <div class="password__footer">
             <div>
               <a href="https://www.instagram.com/ecosecretparis_fr/?fbclid=IwAR0UPDT6DzCL_wfGhzWFOWl8RvCC45jnLai876svuJl69Ytiiatd0XLkFvE" target="_blank"><img src="{{ section.settings.insta | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" class="pass_insta" ></a> 
               <a href="https://www.facebook.com/Eco-Secret-Paris-416164568935665/" target="_blank"><img src="{{ section.settings.facebook | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" class="pass_facebook"></a> 
             </div>
             <h2 class="footer__title">HELLO@ECOSECRET.FR</h2>
             <div class="footer__image-corner">
                <img src="{{ section.settings.mouth | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" class="image-mouth">
             </div>
          </div>

        </div>
   </div>


    </div>
</section>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "MOODBOARD"  
      },
      {
        "type": "image_picker",
            "id": "logo",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "drops",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "card",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "hearts1",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "hearts2",
            "label": "Image"
      },
      {
        "type": "text",
            "id": "password_text",
            "label": "text"
      },
      {
        "type": "image_picker",
            "id": "insta",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "facebook",
            "label": "Image"
      },
      {
        "type": "image_picker",
            "id": "mouth",
            "label": "Image"
      }
      
    ]
}
{% endschema %}